In [35]:
# importing required modules 
from zipfile import ZipFile
import pandas as pd
import os  
# specifying the zip file name 
file_name = "all_data.zip"
  
# # opening the zip file in READ mode 
with ZipFile(file_name, 'r') as zip: 
    # printing all the contents of the zip file 
    zip.printdir() 
# with ZipFile(file_name, 'r') as zip:
#     zip.printdir()
#     q1_data = zip.read('Q12019.csv')
    
    # extracting all the files 
    print('Extracting all the files now...') 
    zip.extractall('../Untitled Folder/Resources') 
    print('Done!')

File Name                                             Modified             Size
Q12019.csv                                     2020-06-17 18:58:20    374053926
Q22019.csv                                     2020-06-17 19:00:04    430250279
Q32019.csv                                     2020-06-17 19:00:56    411672557
Q42019.csv                                     2020-06-17 19:01:44    427432025
Extracting all the files now...
Done!

In [41]:
df = pd.read_csv('../Untitled Folder/Q12019.csv')
df

,YEAR,QUARTER,ORIGIN,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST,DEST_STATE_ABR,DEST_STATE_NM,PASSENGERS,Unnamed: 9
0,2019,1,CLT,NC,North Carolina,RIC,VA,Virginia,1.0,NaN
1,2019,1,RIC,VA,Virginia,CLT,NC,North Carolina,1.0,NaN
2,2019,1,CLT,NC,North Carolina,RIC,VA,Virginia,1.0,NaN
3,2019,1,RIC,VA,Virginia,CLT,NC,North Carolina,1.0,NaN
4,2019,1,CLT,NC,North Carolina,RIC,VA,Virginia,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...
6508748,2019,1,SAT,TX,Texas,TUL,OK,Oklahoma,1.0,NaN
6508749,2019,1,SAT,TX,Texas,TUL,OK,Oklahoma,1.0,NaN
6508750,2019,1,SAT,TX,Texas,TUL,OK,Oklahoma,6.0,NaN
6508751,2019,1,SAT,TX,Texas,TUL,OK,Oklahoma,6.0,NaN
6508752,2019,1,SAT,TX,Texas,TUL,OK,Oklahoma,5.0,NaN

In [42]:
zipObj = ZipFile('sample.zip', 'w')
zipObj.write('../Untitled Folder/Q12019.csv')
zipObj.write('../Untitled Folder/Q22019.csv')
zipObj.write('../Untitled Folder/Q32019.csv')
zipObj.close()